* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #282828;
  margin: 0;
}

#header-nav {
  background-color: #AA2E42;
  border-radius: 0;
  border: 0;
}
.navbar-header {
	height: 75px;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Company name */
  font-family: 'Lora', serif;
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  color: black;
  width: auto;
}

#nav-list a {
  color: black;
  text-align: center;
  font-weight: bold;
}

#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*End Header*/

/*main-content*/

#Chicken , #Beef , #Sushi {
  margin: 20px 0 20px 0;
  background-color: #AA2E42;
  border: 3px solid #000;
  color: black;
}
#Chicken h2, #Beef h2, #Sushi h2 {
  font-weight: bold;
}
/*End main-content*/

@media (max-width: 767px) {
  #Chicken , #Beef , #Sushi {
    width: auto;
    clear: left;
    margin-right: 30px;
    margin-left: 30px;
  }
}